<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>About</h2>
                        <p>home <span>//</span>about</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="about_container">
    <div class="about_container_img">
      <div class="img-container">
        <img class="img-image" src="/assets/img/offer_img_2.png" alt="">
      </div>
    </div>
    <div class="about_container_text">
      <h2>Avukat Berk Elmas Kimdir?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta voluptatibus sequi sit accusantium sint iure veritatis harum, ullam similique, dignissimos suscipit. Quibusdam quis quidem nisi consequatur, accusamus sapiente saepe!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta illum ea ab vel, ex illo quam veritatis quia nam aperiam similique accusamus totam enim animi rerum unde? Animi, dolores consequatur.</p>
    </div>
</div>

<hr>

<div class="about_container_missionvision">
    <div class="about_container_missionvision_text">
      <h2>Misyonumuz</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta voluptatibus sequi sit accusantium sint iure veritatis harum, ullam similique, dignissimos suscipit. Quibusdam quis quidem nisi consequatur, accusamus sapiente saepe!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta illum ea ab vel, ex illo quam veritatis quia nam aperiam similique accusamus totam enim animi rerum unde? Animi, dolores consequatur.</p>
    </div>

    <div class="about_container_missionvision_img">
      <div class="missionvision_img-container">
        <img class="missionvision_img-image" src="/assets/img/offer_img_3.png" alt="">
      </div>
    </div>

    <div class="about_container_missionvision_text">
      <h2>Vizyonumuz</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta voluptatibus sequi sit accusantium sint iure veritatis harum, ullam similique, dignissimos suscipit. Quibusdam quis quidem nisi consequatur, accusamus sapiente saepe!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta illum ea ab vel, ex illo quam veritatis quia nam aperiam similique accusamus totam enim animi rerum unde? Animi, dolores consequatur.</p>
    </div>
</div>

<app-chronology></app-chronology>
