.deneme {
  height : 100px;
  width: 100%;

  & > span {
    color: red;
    cursor: pointer; 
  }

  &-cont {
    display: inline-block;
    background-color: red;
    height : 50px;
    width: 20px;
    transition: all 2s;

    &:hover {
      margin-left: 20px;
      background-color: black;
    }
  }
}
