
    <app-header></app-header>

    <app-banner></app-banner>

    <!-- about part start-->
    <section class="about_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h2>The lawyers truth is not truth but consistency
                            or a consistent expediency</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-sm-7">
                    <div class="about_part_img">
                        <img src="/assets/img/about_1.png" alt="#">
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 d-none d-sm-block">
                    <div class="about_part_img">
                        <img src="/assets/img/about_2.png" alt="#">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="about_text text-center">
                        <p>Fly seed a it hath own light deep our meat land bearing won bring you two
                            were together divide set kind stars firmament evning from forth seas let
                            air whales which of gathering be sixth. Seed won't. Creature she'd living
                            said blessed. Rule plac also seasons was itself of for days subdue
                            great own male itsel</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about part end-->

    <app-services></app-services>

    <!-- our_offer part start-->
    <section class="our_offer case_study section_padding">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-sm-10">
                    <div class="section_tittle">
                        <h2>Recent Case Study</h2>
                        <p>Over their the abundantly every midst place thing them them winged you're
                            beginning forth you. Fruit seas very does can after herb moved so was Kind </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="/assets/img/offer_img_1.png" alt="offer_img_1">
                            <div class="hover_text">
                                <h2>RBanking & Finance</h2>
                                <p>Bank Protected</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="/assets/img/offer_img_2.png" alt="offer_img_1">
                            <div class="hover_text">
                                <h2>RBanking & Finance</h2>
                                <p>Bank Protected</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="/assets/img/offer_img_3.png" alt="offer_img_1">
                            <div class="hover_text">
                                <h2>RBanking & Finance</h2>
                                <p>Bank Protected</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our_offer part end-->

    <!-- team_part part start-->
    <section class="team_part our_offer section_bg section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-sm-10">
                    <div class="section_tittle">
                        <h2>Meet Our Attorneys</h2>
                        <p>Over their the abundantly every midst place thing them them winged you're
                            beginning forth you. Fruit seas very does can after herb moved so was Kind </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="/assets/img/team/team_member_1.png" alt="offer_img_1">
                            <div class="hover_text">
                                <p>jevenmartyn@ariclaw.com</p>
                                <div class="team_social_icon">
                                    <a href="#"> <span class="ti-twitter"></span> </a>
                                    <a href="#"> <span class="ti-skype"></span> </a>
                                    <a href="#"> <span class="ti-instagram"></span> </a>
                                </div>
                            </div>

                        </div>
                        <div class="team_member_info">
                            <h4>Stephen Hockin</h4>
                            <p>Crime Lawyer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="/assets/img/team/team_member_2.png" alt="offer_img_1">
                            <div class="hover_text">
                                <p>jevenmartyn@ariclaw.com</p>
                                <div class="team_social_icon">
                                    <a href="#"> <span class="ti-twitter"></span> </a>
                                    <a href="#"> <span class="ti-skype"></span> </a>
                                    <a href="#"> <span class="ti-instagram"></span> </a>
                                </div>
                            </div>
                        </div>
                        <div class="team_member_info">
                            <h4>Jeven Martyn</h4>
                            <p>Finance Lawyer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="/assets/img/team/team_member_3.png" alt="offer_img_1">
                            <div class="hover_text">
                                <p>jevenmartyn@ariclaw.com</p>
                                <div class="team_social_icon">
                                    <a href="#"> <span class="ti-twitter"></span> </a>
                                    <a href="#"> <span class="ti-skype"></span> </a>
                                    <a href="#"> <span class="ti-instagram"></span> </a>
                                </div>
                            </div>

                        </div>
                        <div class="team_member_info">
                            <h4>Donald Tisar</h4>
                            <p>Crime Lawyer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team_part part end-->

    <!-- cta_part part start-->
    <section class="cta_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="cta_text">
                        <h2>Their was of wherein darkness tree them own it firmament
                            fourth you whose void grass gree</h2>
                        <a href="#" class="cta_btn">Request Free Consultation</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta_part part end-->


    <app-review></app-review>

    <!-- team_part part start-->
    <section class="blog_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-sm-10">
                    <div class="section_tittle">
                        <h2>Latest From Blog</h2>
                        <p>Over their the abundantly every midst place thing them them winged you're beginning
                            forth you fruit seas very does can after herb moved so was kind </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="/assets/img/blog/blog_1.png" alt="offer_img_1">
                            <div class="hover_text">
                                <div class="single-home-blog">
                                    <a href="blog.html"> <i class="ti-bookmark"></i> Finance</a>
                                    <a class="time"> <i class="ti-time"></i> March 30, 2019</a>
                                    <a href="blog.html">
                                        <h5 class="card-title">Day to fill you greater together
                                            life open set seed</h5>
                                    </a>
                                    <p>Created images moving living fowl earth freed two hath first you
                                        does you life above living a Give and earth light appear moved
                                        behold go day seasons it made you more so fifty tosand on board
                                        of the ready </p>
                                    <ul>
                                        <li> <span class="ti-heart"></span>0 Like</li>
                                        <li> <span class="ti-comments"></span>2 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="/assets/img/blog/blog_2.png" alt="offer_img_1">
                            <div class="hover_text">
                                <div class="single-home-blog">
                                    <a href="blog.html"> <i class="ti-bookmark"></i> Finance</a>
                                    <a class="time"> <i class="ti-time"></i> March 30, 2019</a>
                                    <a href="blog.html">
                                        <h5 class="card-title">Day to fill you greater together
                                            life open set seed</h5>
                                    </a>
                                    <p>Created images moving living fowl earth freed two hath first you
                                        does you life above living a Give and earth light appear moved
                                        behold go day seasons it made you more so fifty tosand on board
                                        of the ready </p>
                                    <ul>
                                        <li> <span class="ti-heart"></span>0 Like</li>
                                        <li> <span class="ti-comments"></span>2 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="/assets/img/blog/blog_3.png" alt="offer_img_1">
                            <div class="hover_text">
                                <div class="single-home-blog">
                                    <a href="blog.html"> <i class="ti-bookmark"></i> Finance</a>
                                    <a class="time"> <i class="ti-time"></i> March 30, 2019</a>
                                    <a href="blog.html">
                                        <h5 class="card-title">Day to fill you greater together
                                            life open set seed</h5>
                                    </a>
                                    <p>Created images moving living fowl earth freed two hath first you
                                        does you life above living a Give and earth light appear moved
                                        behold go day seasons it made you more so fifty tosand on board
                                        of the ready </p>
                                    <ul>
                                        <li> <span class="ti-heart"></span>0 Like</li>
                                        <li> <span class="ti-comments"></span>2 Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team_part part end-->

    <!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="index.html"> <img src="/assets/img/footer-logo.png" alt=""> </a>
                        <p>Created. Image moving living fowl earth fruitful. Two hath first you're doesn you
                            life above. Living give and earth light for appear moved their behold </p>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single-footer-widget">
                        <h4>Our Service</h4>
                        <ul>
                            <li><a href="#">Car accident</a></li>
                            <li><a href="#">Personal injury</a></li>
                            <li><a href="#">Family law</a></li>
                            <li><a href="#">Bank and financial</a></li>
                            <li><a href="#">Capital market</a></li>
                            <li><a href="#">Employment Law</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single-footer-widget footer_icon">
                        <h4>Contact Info</h4>
                        <p>4361 Morningview Lane Artland
                            Latimer, IA 50452</p>
                        <ul>
                            <li><a href="#"><i class="ti-mobile"></i>+02 - 32 365 2654</a></li>
                            <li><a href="#"><i class="ti-email"></i>ariclaw@law.com</a></li>
                            <li><a href="#"><i class="ti-world"></i> ariclawyerfirm.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single-footer-widget footer_3">
                        <h4>Instagram</h4>
                        <div class="footer_img">
                            <div class="single_footer_img">
                                <img src="/assets/img/footer_img/footer_img_1.png" alt="">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                            <div class="single_footer_img">
                                <img src="/assets/img/footer_img/footer_img_2.png" alt="">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                            <div class="single_footer_img">
                                <img src="/assets/img/footer_img/footer_img_3.png" alt="">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                            <div class="single_footer_img">
                                <img src="/assets/img/footer_img/footer_img_4.png" alt="">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                            <div class="single_footer_img">
                                <img src="/assets/img/footer_img/footer_img_5.png" alt="">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                            <div class="single_footer_img">
                                <img src="/assets/img/footer_img/footer_img_6.png" alt="">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright_part_text text-center">
                        <div class="container">
                            <div class="row">

                                <div class="col-lg-4 col-md-12">
                                    <div class="footer_menu">
                                        <ul>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="#">Faq</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
