<div class="about_chronology" #chronology>
  <div class="about_chronology_container">
    <h2>Sayılarla Yılmaz Hukuk Bürosu</h2>

    <div class="about_numbers">

      <div class="about_numbers_container">
        <span class="about_numbers_container_number" #muvekkil>75</span>
        <span class="about_numbers_container_description">müvekkil</span>
      </div>

      <div class="about_numbers_container">
        <span class="about_numbers_container_number" #cozulmusdava>120</span>
        <span class="about_numbers_container_description">Çözülmüş Dava</span>
      </div>

      <div class="about_numbers_container">
        <span class="about_numbers_container_number" #odul>10</span>
        <span class="about_numbers_container_description">Alınan Ödül</span>
      </div>

      <div class="about_numbers_container">
        <span class="about_numbers_container_number" #kisilikekip>23</span>
        <span class="about_numbers_container_description">Kişilik Ekip</span>
      </div>

    </div>

  </div>
</div>

<div class="chronology_space">

</div>
